@charset 'UTF-8';
@font-face {
    font-family: DSsb;
    src: url(assets/fonts/OptimusPrincepsSemiBold.ttf) format(truetype);
}

@font-face {
    font-family: Noto;
    src: url(assets/fonts/NotoSansJP-VariableFont_wght.ttf) format(truetype);
}

:root {
    --firstcolor: #AB966F;
    --primarycolor: #161615;
    --font1: DSsb;
    --fonttext: Noto;
}


/*Header*/
body{
    margin: auto;
    background-color: var(--primarycolor);
}


.header {
    display: flex;
    background-color: var(--primarycolor);
    border-bottom: 5px solid var(--firstcolor);
    justify-content: space-between;
    align-items: center;
}

.title {
    color: white;
    font-family: var(--font1);
    font-size: 600;
    text-shadow: 2px 2px 3px var(--firstcolor);
    font-size: 2em;
    margin-left: 100px;
}


.bonfire {
    flex: 1;
    height: 60px;
    width: 60px;
    padding: 30px;
    margin-right: 1190px;
    border: none;
}


/*Main*/

#main {
    margin-top: 200px;
    justify-items: center;
    align-items: end;
    font-family: var(--fonttext);
    transition: filter 0.4s ease;
    position: relative;
    z-index: 1;
}

#sub {  
    color: white;
    font-family: var(--font1);
    font-size: 1.5em;
}

.text {
    font-family: var(--fonttext);
    color: white;
    font-size: 1em;
    margin-bottom: 50px;
}

.container {
    height: auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

/*Dark souls 1*/
.ds1 {
    height: 300px;
    width: 250px;
    border: 4px solid var(--firstcolor);
    border-radius: 20px;
}


/*Dark souls 2*/
.ds2 {
    height: 300px;
    width: 250px;
    border: 4px solid var(--firstcolor);
    border-radius: 20px;
}

/*Dark Souls 3*/
.ds3 {
    height: 300px;
    width: 250px;
    border: 3px solid var(--firstcolor);
    border-radius: 20px;
}

.img {
    height: 300px;
    width: 250px;
    border-radius: 20px;
}


/*Footer*/
footer {
    margin-top: 160px;
    border-top: 5px solid var(--firstcolor);
}

.foot {
    text-align: center;
    color: white;
}

.link {
    color: var(--firstcolor);
    text-decoration: none;
}

.link:hover {
    background-color: #AB966F;
    color: white;
    transition: 1s;
}