@charset "UTF-8";

.chefes {
    background-color: var(--primarycolor);
    height: 250px;
    width: 250px;
    border: 2px solid var(--firstcolor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    transition: all 0.7s ease-in-out;
}

.chefes > p {
    color: white;
    font-family: var(--fonttext);
    font-size: 1em;
}

.chefes > p, .ds1images {
    transition: all 0.7s ease;
    opacity: 0.6;
}

.chefes:hover{
    background-color: var(--firstcolor);

}

.chefes:hover img {
    transform: scale(1.05);
    opacity: 1;
}

.chefes:hover p {
    color: var(--primarycolor);
    opacity: 1;
    text-decoration: underline;
}


/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background-color: var(--primarycolor);
    color: white;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 800px;
    position: relative;
    box-shadow: 0 0 20px black;
    z-index: 10000;
    max-height: 90vh;
    overflow-y: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: var(--firstcolor);
}

/* Modal fog */
.modal::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    background: 
        radial-gradient(circle, rgba(255, 255, 255, 0.05) 10%, transparent 70%),
        radial-gradient(circle, rgba(255, 255, 255, 0.05) 10%, transparent 70%);
    background-size: 50% 50%;
    animation: fog 10s linear infinite;
    pointer-events: none;
    z-index: -1;
    filter: blur(30px);
}

@keyframes fog {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-25%, -10%); }
    100% { transform: translate(0, 0); }
    
}

/* Barra de rolagem */
.modal-content::-webkit-scrollbar {
    width: 10px;
}

.modal-content::-webkit-scrollbar-track {
  background: var(--primarycolor);
  border-radius: 10px;
}

/* Polegar */

.modal-content::-webkit-scrollbar-thumb {
  background: var(--firstcolor);
  border-radius: 10px;
  border: 2px solid var(--primarycolor);
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background-color: #ab966f9c;
}